{% extends 'main/header.html' %}

{% block content %}
    <div class="wrapper-about grey lighten-5">
        <h3>&nbsp;GitHub Projects</h3>
        <div class="row">
            {% for repo in repoInfo %}
                {% if repo.name %}
                    <div class="col s12 m6 l4">
                        <div class="card white hoverable">
                            <div class="card-content" title="ABC">
                                <span class="card-title">{{ repo.name }}</span>
                                <p style="font-size:70%">Language: {{ repo.language }}</p><br>
                                {% if repo.description == null %}
                                    <p>No description...</p>
                                {% else %}
                                    <p>{{ repo.description|slice:":50" }}...</p>
                                {% endif %}
                            </div>
                            <div class="card-action">
                                <a class="teal-text" href="{{ repo.html_url }}">View</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}